<table>  
  <tr>
  <td>
     <b>Servicename:</b><br /><br /> 
     <%=h @service.servicename %> 
  </td>
  <td>
    <b>Url:</b><br /><br /> 
    <%=h @service.url %>
  </td>
  </tr>
</table>

<%= link_to 'Edit', edit_service_url(@service) %> |
<%= link_to 'Back', services_url %>




