<h2>My LifeStream collection </h2>

<p>LifeStream here, refers to the chronological aggregated view of User online activities through the use of some popular social media services.</p>

<% unless @services.empty? %>
    <% n = 0 %>
    <% for service in @services %>
      <%= link_to image_tag("/images/sites_icons/#{service.servicename}.png"), service.url + @usernames[n].login_name -%>
      <% n = n + 1 %>
    <% end %>  <%= link_to 'add/edit', list_services_url -%>
<% else %>
  <table>
    <tr><td>There are no entries, yet.</td></tr> 
  </table>
  <p><%= link_to 'Add a service', list_services_url -%></p>
<% end %>



