<h1>My LifeStream collection </h1><br />

<table>
  <% for service in @services %>
    <%= link_to "#{image_tag("/images/sites_icons/#{service.servicename}.png")}", list_services_path -%>
  <% end %>
  <%= link_to " add/edit", list_services_path %>
</table>

<!--  table>
<# % for service in @services %>
  <tr>
    <td><# %= link_to "#{image_tag("/images/sites_icons/#{service.servicename}.png")} #{service.servicename}", edit_service_path(service) -%></td>
  </tr>
<# % end %>
</table -->

<!-- %= link_to 'New service', new_service_path % -->



