<h2>Choose a service to add/edit</h2><br />


<table>

  <% for service in @services %>
    <tr><td>
      <%= link_to image_tag("/images/sites_icons/#{service.servicename}.png"), edit_service_path(service) -%>
      <%= link_to service.servicename, edit_service_path(service) -%>
    </td></tr>
  <% end %>
 
</table>

<!-- # %= link_to 'New service', new_service_path % -->
