                        <%- if logged_in? -%>
                                <div class="right_side">
                                        <div class="pad">
                                                <h3>Resources</h3>
                                                <ul>

                                        	   <li><%= link_to 'lifestream collection', services_path, 'services' => [] %></li>
                                                   <li><%= link_to 'OPML feed', new_opml_metadata_path %></li>
                                                   <!-- #li><%= link_to 'lifestream',  list_services_path %></li -->

                                                </ul>
                                        </div>
                                </div>
                        <%- end -%>

