<div id="top">
	<div class="content">
			<div id="menu">
				<ul>	
					<li><a title="Home" href="http://useraxis.org/" class="current"><span>HOME</span></a></li>
					<li><a title="Blog" href="#"><span>BLOG</span></a></li>

					<li><a title="Abous us" href="#"><span>ABOUTS US</span></a></li>
					<li><a title="Contact" href="#"><span>CONTACT</span></a></li>
				</ul>
			</div>
          	        <h1><a title="http://useraxis.org/" href="http://useraxis.org/">useraxis.org</a></h1>
		        <h2> ... this site is actually temp ( not ready )</h2>
	</div>
</div>